In [1]:
import pandas as pd
df=pd.read_csv("homework.csv")
df

       A  B  C  D  E
0      0  0  0  0  0
1      0  0  1  1  0
2      0  0  0  1  0
3      0  0  1  1  1
4      0  1  0  1  0
...   .. .. .. .. ..
34995  0  0  0  0  0
34996  0  1  0  0  0
34997  1  1  0  0  1
34998  0  0  0  0  0
34999  1  1  1  0  1

[35000 rows x 5 columns]

# But : quel est l'impact de C sur B ?